/* Reset and Common Styles */
* {
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  .center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .section-heading {
    border-bottom: 0.3rem solid #333;
    color: #333;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
    text-transform: uppercase;
  }
  /* End of Reset and Common Styles */
  
  /* Section 1 */
  .section-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.3)
      ),
      url(images/bg.jpg) center no-repeat;
    background-size: cover;
    flex-direction: column;
  }
  
  .section-1-heading {
    background-color: #e41c6f;
    border-bottom: 0.3rem solid #fff;
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 1rem;
    margin-bottom: 5rem;
    padding: 0 3rem;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    text-transform: uppercase;
    transform: skew(-10deg);
  }
  
  .person-img {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border: 0.7rem dotted #e41c6f;
    height: 25rem;
    object-fit: cover;
    opacity: 0.9;
    padding: 0.5rem;
    width: 25rem;
  }
  
  .person-name {
    background-color: #e41c6f;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    transform: skew(-10deg);
  }
  
  .section-1-btn {
    background-color: #fff;
    border: 0.3rem solid #333;
    color: #333;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }
  /* End of Section 1 */
  
  /* Navbar */
  .navbar {
    background-color: #e41c6f;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    height: 4rem;
    position: absolute;
    width: 100%;
    z-index: 300;
  }
  
  .sticky {
    position: fixed;
    top: 0;
  }
  
  .navbar-link {
    color: #333;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    margin: 0 3rem;
    position: relative;
    text-transform: uppercase;
    transition: color 0.2s;
  }
  
  .change.navbar-link {
    color: #fff;
  }
  
  .navbar-link:hover {
    color: #fff;
  }
  
  .navbar-link::before {
    background-color: #fff;
    bottom: -0.3rem;
    content: "";
    height: 0.2rem;
    position: absolute;
    right: -15%;
    transition: width 0.2s;
    width: 0;
  }
  
  .change.navbar-link::before {
    width: 130%;
  }
  
  .navbar-link:hover::before {
    width: 130%;
  }
  /* End of Navbar */
  
  /* Section 2 */
  .section-2 {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15rem 0 10rem 0;
    width: 100%;
  }
  
  .progress-bars-wrapper {
    margin-bottom: 10rem;
  }
  
  .progress-bar {
    background-color: #ccc;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 1rem #555;
    height: 3rem;
    margin: 1.5rem 0;
    position: relative;
    width: 60rem;
  }
  
  .progress-text {
    color: #fff;
    font-size: 1.5rem;
    left: 1rem;
    position: absolute;
  }
  
  .progress-text span {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0.5rem;
  }
  
  .progress-percent {
    background-color: #e41c6f;
    border-radius: 0.3rem;
    height: 100%;
    transition: width 0.5s 0.5s ease-in-out;
    width: 0;
  }
  
  .services {
    align-items: center;
    display: flex;
    height: 30vh;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .service {
    text-align: center;
  }
  
  .service:first-child,
  .service:last-child {
    align-self: flex-start;
  }
  
  .service i {
    color: #888;
    font-size: 10rem;
    margin-bottom: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem #555;
  }
  
  .service h2 {
    background-color: #777;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
    width: 25rem;
  }
  /* End of Section 2 */
  
  /* Section 3 */
  .section-3 {
    align-items: center;
    background-color: #eef;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10rem 0;
    width: 100%;
  }
  
  .projects-wrapper {
    flex-wrap: wrap;
    width: 80%;
  }
  
  .project {
    align-items: center;
    background-color: #fff;
    box-shadow: 0.3rem 0.3rem 0.5rem #777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.5s;
  }
  
  .project:hover {
    box-shadow: 1rem 1rem 1rem #777;
  }
  
  .project-text {
    letter-spacing: 0.1rem;
    position: absolute;
    text-align: center;
    top: -10rem;
    transition: top 0.3s;
    z-index: 10;
  }
  
  .project:hover .project-text {
    top: 5rem;
    transition: top 0.3s 0.3s;
  }
  
  .project-name {
    color: #333;
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
  }
  
  .project-technologies {
    color: #e41c6f;
    font-size: 1.8rem;
  }
  
  .project-img {
    transition: opacity 0.3s;
    width: 40rem;
  }
  
  .project:hover .project-img {
    opacity: 0.2;
  }
  
  .project-link {
    background-color: #fff;
    border: 0.3rem solid #e41c6f;
    bottom: -5rem;
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 0 1rem;
    position: absolute;
    transition: bottom 0.3s;
  }
  
  .project:hover .project-link {
    bottom: 5rem;
    transition: bottom 0.3s 0.3s;
  }
  /* End of Section 3 */
  
  /* Section 4 */
  .section-4 {
    align-items: center;
    background-color: #333;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .section-4-heading {
    border-color: #fff;
    box-shadow: none;
    color: #fff;
    margin-bottom: 5rem;
  }
  
  .contact-form {
    flex-direction: column;
    width: 50rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    background-color: #eef;
    border: 0.2rem solid #e41c6f;
    color: #555;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
  }
  
  .contact-form textarea {
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
  }
  
  .contact-form .contact-form-btn {
    background-color: #e41c6f;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1rem;
    text-transform: uppercase;
  }
  /* End of Section 4 */
  
  /* Section 5 */
  .section-5 {
    background-color: #222;
    flex-direction: column;
    height: 30vh;
    width: 100%;
  }
  
  .social-media {
    margin-bottom: 5rem;
  }
  
  .social-media-link {
    background-color: #e41c6f;
    border-radius: 0.5rem;
    display: inline-block;
    margin: 0 2rem;
    padding: 0.7rem;
  }
  
  .social-media-link i {
    color: #fff;
    font-size: 3rem;
  }
  
  .copyright {
    color: #aaa;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-align: center;
  }
  /* End of Section 5 */
  
  /* Responsive */

  @media (max-width: 1200px) {
    .services {
      flex-wrap: wrap;
      height: auto;
    }
  
    .service {
      margin: 3rem 2rem;
    }
  
    .section-4 {
      height: 80vh;
    }
  }
  
  @media (max-width: 800px) {
    .section-1-heading {
      font-size: 4rem;
    }
  
    .progress-bar {
      width: 50rem;
    }
  }
  
  @media (max-width: 600px) {
    .section-1-heading {
      font-size: 3rem;
    }
  
    .navbar-link {
      margin: 0 2rem;
      font-size: 1.5rem;
    }
  
    .section-2 {
      padding: 10rem;
    }
  
    .section-2-heading {
      margin-bottom: 10rem;
    }
  
    .progress-bar {
      width: 45rem;
    }
  
    .project-img {
      width: 100%;
    }
  
    .contact-form {
      width: 40rem;
    }
  
    .copyright {
      width: 70%;
    }
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 45%;
    }
  
    .section-1-heading {
      font-size: 2.5rem;
    }
  
    .navbar-link {
      margin: 0 1.5rem;
    }
  
    .section-2-heading {
      text-align: center;
    }
  
    .progress-bar {
      width: 40rem;
    }
  }
  /* End of Responsive */
  